body
{
    font-family: Roboto;
    color: #2E2F42;
}

h1,h2,h3
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header
{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.page-header-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav
{
    display: flex;
    align-items: center;
}

.logo
{
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    color: #2E2F42;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-part
{
    color: #4D5AE5;
}

/* Navigation */
.navigation-list
{
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child)
{
    padding-right: 40px;
}

.navigation-list-link
{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-list-link:hover, .navigation-list-link:focus-visible
{
    color: #404BBF;
}

/* Contacts */
.contacts-list
{
    display: flex;
    align-items: center;
}

.contacts-list-item:not(:last-child) {
    padding-right: 40px;
}

.contacts-list-link
{
    color: #434455;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list-link:hover, .contacts-list-link.order-button:focus-visible
{
    color: #404BBF;
}
/* Main */
/* Section Order */
.page-order-container
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 600px;
}

.order
{
    background-color: #2E2F42;
    height: 600px;
}

.order-header
{
    text-align: center;
    margin-bottom: 48px;
    width: 490px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}

.order-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    color: #fff;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-button:hover, .order-button:focus-visible
{
    background-color: #404BBF;
}

/* Why us */
.page-why-us-container
{
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.why-us-list-item:not(:last-child)
{
    padding-right: 24px;
}

.why-us-list
{
    display: flex;
    align-items: baseline;
}

.why-us-list-item
{
    width: 288px;
}

.why-us-list-title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.why-us-list-description
{
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* What are we doing */

.works-list
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.works-list-item:not(:nth-child(3n))
{
    padding-right: 24px;
}

.works-heading
{
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

/* Our Team */
.team
{
    background-color: #F4F4FD;
}

.team-heading
{
    text-align: center;
    margin-bottom: 72px;
    padding-top: 120px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-list-item:not(:nth-child(4n)) {
    margin-right: 24px;
}

.team-list
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-list-item
{
    background-color: #fff;
    margin-bottom: 120px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.team-list-item-name
{
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-item-desc
{
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */
.footer
{
    background: #2E2F42;
}

.page-footer-container
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo
{
    font-family: Raleway;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4D5AE5;
}

.footer-logo-part
{
    color: #F4F4FD;
}

.footer-text
{
    width: 264px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
    letter-spacing: 0.02em;
}

/* portfolio.html */
/* Filter buttons */
.filter-button-list
{
    display: flex;
    justify-content: center;
    margin-top: 168px;
    margin-bottom: 72px;
}

.filter-button
{
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 12px 24px;
    letter-spacing: 0.04em;
}

.filter-button-item:not(:last-child)
{
    margin-right: 24px;
}

.filter-button-list .filter-button:hover, .filter-button-list .filter-button:focus-visible
{
    cursor: pointer;
    background-color: #4D5AE5;
    color: #fff;
}

/* PROJECTS */
.project-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list-item
{
    border: 1px solid #E7E9FC;
    margin-bottom: 48px;
}

.project-list-item:not(:nth-child(3n))
{
    margin-right: 20px;
}

.project-list-photo
{
    margin-bottom: 32px;
}

.project-list-name
{
    padding-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.project-list-description
{
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}